# --- Global ---
pandas
numpy
openpyxl
python-dotenv

# --- Analyse & Notebooks ---
nbformat
matplotlib
seaborn

# --- Modélisation ---
scikit-learn
xgboost
tqdm
optuna
joblib

# --- Dashboarding (UI & Visualisation) ---
streamlit
plotly
xslxwriter
huggingface_hub

# --- API Microservice ---
fastapi
uvicorn
pydantic
requests
slowapi
jinja2
python-multipart
cryptography
bcrypt
redis
